body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.body-bg {
  background-image: url("../images/bois-texture-1456353976vDQ.jpg");
}

h1, h2, h3, h4, h5 {
  font-family: 'IBM Plex Serif', serif;
}

.cv-header, .profile, .experience, .company-name {
  font-family: 'IBM Plex Serif', serif;
}

.color-gray {
  color: #4b4b4b
}

.cv {
  margin-top: 50px;
  border: 1px solid #4b4b4b;
  box-shadow: 1px 1px 10px #000;
}

.cv-left {
  background: #4b4b4b;
  color: #fff;
}

.cv-right {
  background: #fff;
}

.contacts ul {
  list-style-type: none;
  line-height: 175%;
  text-align: center;
  padding-left: 0;
}

.contacts a {
  color: #fff;
  text-decoration: none;
}

.address {
  font-style: italic;
  margin: 0 auto;
}

.company-name {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.company-name i {
  font-size: .8rem;
  text-transform: none;
  font-family: Aria, sans-serif;
}

.job-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.lines {
  overflow: hidden;
}

.lines::before, .lines::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 3px;
  background: #4b4b4b;
  border: 1px solid #fff;
  vertical-align: middle;
}

.lines::before {
  margin-left: -100%;
}

.lines::after {
  margin-right: -100%;
}